.homePageContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    font-size: 52px;
}

/* .arrowUp {
    vertical-align: middle;
} */

.arrowUp:hover {
    transform: scale(1.1) translateY(-25px);
    background: linear-gradient(to right, #52c234, #061700);
    border-radius: 4px;
}

.link {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 480px) {
    .homePageContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
}