    @media screen and (max-width: 480px) {
        .registrationContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }

        .registrationImg {
            margin-top: 10px;
        }
    }

.registrationContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.registrationForm {
    /* width: 400px; */
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    flex-direction: column;
    align-items:center;
}

.registrationLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.registrationBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #52c234, #061700);
    border-radius: 4px;
}

.registrationBtn:hover {
    transform: scale(1.1);
}

.registrationImg {
    width: 400px;
}

.inbox {
    vertical-align: middle;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover .inbox {
    transform: scale(1.2);
}