.loginContainer {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    border-radius: 4px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 15px;
    width: 500px;
    border-radius: 4px;
}

.loginLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.loginBtn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #52c234, #061700);
        border-radius: 4px;
}

.loginBtn:hover {
    transform: scale(1.1);
}

.loginImg {
    width: 300px;
}

.inbox {
    vertical-align: middle;
}

.link {
        text-decoration: none;
        color: inherit;
}

.link:hover .inbox{
    transform: scale(1.2);
}